/**
  * @desc settings include global variables
  * @author Neil Symester neil.symester@towergate.co.uk
  */

$base-font: Lato;

$veryDarkCyan: #023742;
$vividCyan: #01dbab;
$darkCyan: #01866b;
$veryDarkGrayishBlue: #585f69;
$lightGrayishBlue: #e7e8ed;
$vividRed: #e33101;
$brightRed: #e94840;
$white: #fff;
